{% extends 'base.html' %}

{% block body %}
<h1>{{checklist.name}}</h1>
<h2>Itens</h2>
<a href="{% url 'checklist_item_add' checklist.id %}">Adicionar</a>
<br>
<br>
<table style="border-style:solid;border-collapse:collapse;">
    {% for item in items %}
    <tr>
        <td style="border-style:solid;border-color:Silver;">{{item.checked}}</td>
        <td style="border-style:solid;border-color:Silver;">{{item.name}}</td>
        <td style="border-style:solid;border-color:Silver;"><a href="{% url 'checklist_item_remove' checklist.id item.id %}">Apagar</a></td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="{% url 'checklist_list' %}">Voltar para a Lista</a>
{% endblock body %}
